<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immo.phamacybus.kettle.mapper.CfDailyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.immo.phamacybus.kettle.entity.CfDaily">
    <result column="ID" property="id" />
    <result column="ADD_USER" property="addUser" />
    <result column="EDIT_USER" property="editUser" />
    <result column="ADD_TIME" property="addTime" />
    <result column="EDIT_TIME" property="editTime" />
    <result column="DEL_FLAG" property="delFlag" />
        <result column="PATIENT_NUM" property="patientNum" />
        <result column="PATIENT_TIME_NUM" property="patientTimeNum" />
        <result column="CF_COUNT" property="cfCount" />
        <result column="TOTAL_FEE" property="totalFee" />
        <result column="TOTAL_DRUG_FEE" property="totalDrugFee" />
        <result column="TJ_DATE" property="tjDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
ID AS id,
ADD_USER AS addUser,
EDIT_USER AS editUser,
ADD_TIME AS addTime,
EDIT_TIME AS editTime,
DEL_FLAG AS delFlag,
        PATIENT_NUM AS patientNum, PATIENT_TIME_NUM AS patientTimeNum, CF_COUNT AS cfCount, TOTAL_FEE AS totalFee, TOTAL_DRUG_FEE AS totalDrugFee, TJ_DATE AS tjDate
    </sql>
    
	<select id="selectByPageAndWrapper" resultType="CfDaily">
        SELECT 
        <include refid="Base_Column_List" />
        FROM cf_daily ${ew.sqlSegment}
    </select>
    
    <select id="getHisCountMap" resultType="java.util.HashMap">
		SELECT
			sum(patient_num) AS patientNum,
			sum(patient_time_num) AS patientTimeNum,
			sum(cf_count) AS cfCount,
			sum(total_fee) AS totalFee,
			sum(total_drug_fee) AS totalDrugFee
		FROM
			cf_daily
		WHERE
			tj_date &gt;= #{startTime}
		AND tj_date &lt;= #{endTime}
    </select>
    
    <select id="getLocalCountMap" resultType="java.util.HashMap">
	    SELECT
			count(DISTINCT ec.PATIENT_NO) AS patientNum,
			count(
				DISTINCT CONCAT(
					ec.PATIENT_NO,
					LEFT (ec.pres_date_time, 10)
				)
			) AS patientTimeNum,
			count(1) AS cfCount,
			sum(ec.total_amount) AS totalFee,
			sum(eci.amount) AS totalDrugFee
		FROM
			eng_cf ec
		LEFT JOIN eng_cf_item eci ON ec.id = eci.cfid
		WHERE
			pres_date_time &gt;= #{startTime}
		AND pres_date_time &lt;= #{endTime}
    </select>
</mapper>
