<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immo.phamacybus.kettle.mapper.EngCfItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.immo.phamacybus.kettle.entity.EngCfItem">
    <result column="ID" property="id" />
    <result column="ADD_USER" property="addUser" />
    <result column="EDIT_USER" property="editUser" />
    <result column="ADD_TIME" property="addTime" />
    <result column="EDIT_TIME" property="editTime" />
    <result column="DEL_FLAG" property="delFlag" />
        <result column="CFID" property="cfid" />
        <result column="DRUG" property="drug" />
        <result column="DRUG_NAME" property="drugName" />
        <result column="REG_NAME" property="regName" />
        <result column="MANUFACTURER_NAME" property="manufacturerName" />
        <result column="CONTINUE_DAY" property="continueDay" />
        <result column="SPEC" property="spec" />
        <result column="QUANTITY" property="quantity" />
        <result column="DISPENSE_UNIT" property="dispenseUnit" />
        <result column="UNIT_PRICE" property="unitPrice" />
        <result column="AMOUNT" property="amount" />
        <result column="GROUP_NO" property="groupNo" />
        <result column="FIRST_USE" property="firstUse" />
        <result column="PREP_FORM" property="prepForm" />
        <result column="ADMIN_ROUTE" property="adminRoute" />
        <result column="ADMIN_AREA" property="adminArea" />
        <result column="ADMIN_FREQUENCY" property="adminFrequency" />
        <result column="ADMIN_DOSE" property="adminDose" />
        <result column="TOTAL_ADMIN_DOSE" property="totalAdminDose" />
        <result column="ADMIN_METHOD" property="adminMethod" />
        <result column="SPECIAL_PROMOTE" property="specialPromote" />
        <result column="SKIN_TEST" property="skinTest" />
        <result column="COMMENT" property="comment" />
        <result column="LAST_UPDATE_TIME" property="lastUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
ID AS id,
ADD_USER AS addUser,
EDIT_USER AS editUser,
ADD_TIME AS addTime,
EDIT_TIME AS editTime,
DEL_FLAG AS delFlag,
        CFID AS cfid, DRUG AS drug, DRUG_NAME AS drugName, REG_NAME AS regName, MANUFACTURER_NAME AS manufacturerName, CONTINUE_DAY AS continueDay, SPEC AS spec, QUANTITY AS quantity, DISPENSE_UNIT AS dispenseUnit, UNIT_PRICE AS unitPrice, AMOUNT AS amount, GROUP_NO AS groupNo, FIRST_USE AS firstUse, PREP_FORM AS prepForm, ADMIN_ROUTE AS adminRoute, ADMIN_AREA AS adminArea, ADMIN_FREQUENCY AS adminFrequency, ADMIN_DOSE AS adminDose, TOTAL_ADMIN_DOSE AS totalAdminDose, ADMIN_METHOD AS adminMethod, SPECIAL_PROMOTE AS specialPromote, SKIN_TEST AS skinTest, COMMENT AS comment, LAST_UPDATE_TIME AS lastUpdateTime
    </sql>
    
	<select id="selectByPageAndWrapper" resultType="EngCfItem">
        SELECT 
        <include refid="Base_Column_List" />
        FROM eng_cf_item ${ew.sqlSegment}
    </select>
</mapper>
