<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immo.phamacybus.kettle.mapper.EngOrderDrugSendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.immo.phamacybus.kettle.entity.EngOrderDrugSend">
    <result column="ID" property="id" />
    <result column="ADD_USER" property="addUser" />
    <result column="EDIT_USER" property="editUser" />
    <result column="ADD_TIME" property="addTime" />
    <result column="EDIT_TIME" property="editTime" />
    <result column="DEL_FLAG" property="delFlag" />
        <result column="DISPENSE_STORE" property="dispenseStore" />
        <result column="ORDER_ID" property="orderId" />
        <result column="ORDER_DRUG_ID" property="orderDrugId" />
        <result column="TYPE" property="type" />
        <result column="GROUP_NO" property="groupNo" />
        <result column="PATIENT_NO" property="patientNo" />
        <result column="PATIENT_NAME" property="patientName" />
        <result column="CO_ADMIN" property="coAdmin" />
        <result column="DRUG_ID" property="drugId" />
        <result column="DRUG_NAME" property="drugName" />
        <result column="PREP_FORM" property="prepForm" />
        <result column="SPEC_NAME" property="specName" />
        <result column="MANUFACTURER_NAME" property="manufacturerName" />
        <result column="ADMIN_ROUTE" property="adminRoute" />
        <result column="ADMIN_DOSE" property="adminDose" />
        <result column="ADMIN_FREQUENCY" property="adminFrequency" />
        <result column="ADMIN_METHOD" property="adminMethod" />
        <result column="ADMIN_GOAL" property="adminGoal" />
        <result column="QTY" property="qty" />
        <result column="QTY_UNIT" property="qtyUnit" />
        <result column="SEND_DOSE" property="sendDose" />
        <result column="SEND_UNIT" property="sendUnit" />
        <result column="SEND_DATA_TIME" property="sendDataTime" />
        <result column="DOC_ID" property="docId" />
        <result column="DOC_NAME" property="docName" />
        <result column="USE_DEPART_ID" property="useDepartId" />
        <result column="USE_DEPARTMENT" property="useDepartment" />
        <result column="LAST_UPDATE_TIME" property="lastUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
ID AS id,
ADD_USER AS addUser,
EDIT_USER AS editUser,
ADD_TIME AS addTime,
EDIT_TIME AS editTime,
DEL_FLAG AS delFlag,
        DISPENSE_STORE AS dispenseStore, ORDER_ID AS orderId, ORDER_DRUG_ID AS orderDrugId, TYPE AS type, GROUP_NO AS groupNo, PATIENT_NO AS patientNo, PATIENT_NAME AS patientName, CO_ADMIN AS coAdmin, DRUG_ID AS drugId, DRUG_NAME AS drugName, PREP_FORM AS prepForm, SPEC_NAME AS specName, MANUFACTURER_NAME AS manufacturerName, ADMIN_ROUTE AS adminRoute, ADMIN_DOSE AS adminDose, ADMIN_FREQUENCY AS adminFrequency, ADMIN_METHOD AS adminMethod, ADMIN_GOAL AS adminGoal, QTY AS qty, QTY_UNIT AS qtyUnit, SEND_DOSE AS sendDose, SEND_UNIT AS sendUnit, SEND_DATA_TIME AS sendDataTime, DOC_ID AS docId, DOC_NAME AS docName, USE_DEPART_ID AS useDepartId, USE_DEPARTMENT AS useDepartment, LAST_UPDATE_TIME AS lastUpdateTime
    </sql>
    
	<select id="selectByPageAndWrapper" resultType="EngOrderDrugSend">
        SELECT 
        <include refid="Base_Column_List" />
        FROM eng_order_drug_send ${ew.sqlSegment}
    </select>
</mapper>
