<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immo.phamacybus.kettle.mapper.KTransMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.immo.phamacybus.kettle.entity.KTrans">
    <result column="id" property="id" />
    <result column="add_time" property="addTime" />
    <result column="add_user" property="addUser" />
    <result column="edit_time" property="editTime" />
    <result column="edit_user" property="editUser" />
    <result column="del_flag" property="delFlag" />
        <result column="trans_name" property="transName" />
        <result column="trans_description" property="transDescription" />
        <result column="trans_type" property="transType" />
        <result column="trans_path" property="transPath" />
        <result column="trans_repository_id" property="transRepositoryId" />
        <result column="trans_quartz" property="transQuartz" />
        <result column="trans_record" property="transRecord" />
        <result column="trans_log_level" property="transLogLevel" />
        <result column="trans_status" property="transStatus" />
        <result column="run_status" property="runStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
id,
add_time AS addTime,
add_user AS addUser,
edit_time AS editTime,
edit_user AS editUser,
del_flag AS delFlag,
        trans_name AS transName, trans_description AS transDescription, trans_type AS transType,
         trans_path AS transPath, trans_repository_id AS transRepositoryId, trans_quartz AS transQuartz, 
         trans_record AS transRecord, trans_log_level AS transLogLevel, trans_status AS transStatus, run_status AS runStatus
    </sql>
    
	<select id="selectByPageAndWrapper" resultType="KTrans">
        SELECT 
        <include refid="Base_Column_List" />
        FROM k_trans ${ew.sqlSegment}
    </select>
    
    
    <select id="getListMapPage" resultType="java.util.Map">
    	select kt.id, kt.TRANS_NAME transName, kt.TRANS_DESCRIPTION transDescription,
		kq.quartz_description quartzDescription,kq.quartz_cron quartzCron,
		kt.TRANS_STATUS transStatus, kt.run_status runStatus, kt.EDIT_TIME editTime
		from k_trans kt LEFT JOIN k_quartz kq 
		on kt.TRANS_QUARTZ = kq.id
		where kt.add_user = #{userId}
    </select>
    
    <update id="updateRunStatusById">
    	update k_trans set run_status = #{runStatus}
    	where id = #{id}
    </update>
</mapper>
