<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immo.phamacybus.kettle.mapper.KTransMonitorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.immo.phamacybus.kettle.entity.KTransMonitor">
    <result column="id" property="id" />
    <result column="add_time" property="addTime" />
    <result column="add_user" property="addUser" />
    <result column="edit_time" property="editTime" />
    <result column="edit_user" property="editUser" />
    <result column="del_flag" property="delFlag" />
        <result column="monitor_trans" property="monitorTrans" />
        <result column="monitor_success" property="monitorSuccess" />
        <result column="monitor_fail" property="monitorFail" />
        <result column="monitor_status" property="monitorStatus" />
        <result column="run_status" property="runStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
id,
add_time AS addTime,
add_user AS addUser,
edit_time AS editTime,
edit_user AS editUser,
del_flag AS delFlag,
        monitor_trans AS monitorTrans, monitor_success AS monitorSuccess, monitor_fail AS monitorFail, monitor_status AS monitorStatus, run_status AS runStatus
    </sql>
    
	<select id="selectByPageAndWrapper" resultType="KTransMonitor">
        SELECT 
        <include refid="Base_Column_List" />
        FROM k_trans_monitor ${ew.sqlSegment}
    </select>
    
    
    <select id="getAllSuccessCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    	SELECT SUM(monitor_success)
    	FROM k_trans_monitor WHERE ADD_USER = #{userId} AND del_flag ='1'
    </select>
    
    <select id="getAllFailCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    	SELECT SUM(monitor_fail)
    	FROM k_trans_monitor WHERE ADD_USER = #{userId} AND del_flag ='1'
    </select>
    
    <select id="getListJoinPage" parameterType="java.lang.String" resultType="java.util.HashMap">
    	select ktm.id, ktm.monitor_trans monitorTrans, kt.trans_name transName, kt.run_status runStatus, 
		ktm.monitor_success monitorSuccess,ktm.monitor_fail monitorFail, kt.trans_description transDescription
		from  k_trans_monitor ktm
		join k_trans kt on ktm.monitor_trans = kt.id
		and kt.add_user = #{userId} and kt.del_flag = '1'
    </select>
    
    
</mapper>
