<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immo.phamacybus.kettle.mapper.OrderPatientDailySendDrugMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.immo.phamacybus.kettle.entity.OrderPatientDailySendDrug">
    <result column="ID" property="id" />
    <result column="ADD_USER" property="addUser" />
    <result column="EDIT_USER" property="editUser" />
    <result column="ADD_TIME" property="addTime" />
    <result column="EDIT_TIME" property="editTime" />
    <result column="DEL_FLAG" property="delFlag" />
        <result column="ORDER_ID" property="orderId" />
        <result column="PATIENT_NO" property="patientNo" />
        <result column="PATIENT_NAME" property="patientName" />
        <result column="TOTAL_FEE" property="totalFee" />
        <result column="TOTAL_DRUG_FEE" property="totalDrugFee" />
        <result column="SEND_DATE" property="sendDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
ID AS id,
ADD_USER AS addUser,
EDIT_USER AS editUser,
ADD_TIME AS addTime,
EDIT_TIME AS editTime,
DEL_FLAG AS delFlag,
        ORDER_ID AS orderId, PATIENT_NO AS patientNo, PATIENT_NAME AS patientName, TOTAL_FEE AS totalFee, TOTAL_DRUG_FEE AS totalDrugFee, SEND_DATE AS sendDate
    </sql>
    
	<select id="selectByPageAndWrapper" resultType="OrderPatientDailySendDrug">
        SELECT 
        <include refid="Base_Column_List" />
        FROM order_patient_daily_send_drug ${ew.sqlSegment}
    </select>
</mapper>
