<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.immo.phamacybus.kettle.mapper.OrderDrugDailyFeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.immo.phamacybus.kettle.entity.OrderDrugDailyFee">
    <result column="ID" property="id" />
    <result column="ADD_USER" property="addUser" />
    <result column="EDIT_USER" property="editUser" />
    <result column="ADD_TIME" property="addTime" />
    <result column="EDIT_TIME" property="editTime" />
    <result column="DEL_FLAG" property="delFlag" />
        <result column="DRUG_ID" property="drugId" />
        <result column="DRUG_NAME" property="drugName" />
        <result column="TOTALDOSE" property="totaldose" />
        <result column="TOTALDOSEUNIT" property="totaldoseunit" />
        <result column="TOTAL_QTY" property="totalQty" />
        <result column="TOTAL_QTY_UNIT" property="totalQtyUnit" />
        <result column="TOTAL_FEE" property="totalFee" />
        <result column="FEE_DATE" property="feeDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
ID AS id,
ADD_USER AS addUser,
EDIT_USER AS editUser,
ADD_TIME AS addTime,
EDIT_TIME AS editTime,
DEL_FLAG AS delFlag,
        DRUG_ID AS drugId, DRUG_NAME AS drugName, TOTALDOSE AS totaldose, TOTALDOSEUNIT AS totaldoseunit, TOTAL_QTY AS totalQty, TOTAL_QTY_UNIT AS totalQtyUnit, TOTAL_FEE AS totalFee, FEE_DATE AS feeDate
    </sql>
    
	<select id="selectByPageAndWrapper" resultType="OrderDrugDailyFee">
        SELECT 
        <include refid="Base_Column_List" />
        FROM order_drug_daily_fee ${ew.sqlSegment}
    </select>
</mapper>
